<div class="container">
  <h1>{{ title }}</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="prompt">Enter your image prompt:</label>
      <input
        type="text"
        id="prompt"
        name="prompt"
        [(ngModel)]="prompt"
        required
      />
    </div>
    <button type="submit" [disabled]="prompt.length < 1">Generate Image</button>
  </form>
</div>

<div class="progress-bar">
  <div [style.width.px]="percentage">{{ percentage }}</div>
</div>

@if (generatedImageUrl1) {
<div class="image-container">
  <img [src]="generatedImageUrl1" alt="1" />
  <button>download</button>
  <img [src]="generatedImageUrl2" alt="2" />
  <img [src]="generatedImageUrl3" alt="2" />
</div>
}
